html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #ececf1;
}

.top-banner-wrap {
  margin: 0;
  padding: 0;
  width: 100%;
}

.top-banner-img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}
